<div class="container mx-auto p-10 flex justify-center items-center">
  <div class="w-full max-w-md">
    <h1 class="text-3xl font-bold mb-8 text-center">{{ section.settings.title }}</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="customer_email">
            {{ section.settings.email_label }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="customer_email" type="email" name="customer[email]" placeholder="{{ section.settings.email_placeholder }}" />
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="customer_password">
            {{ section.settings.password_label }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="customer_password" type="password" name="customer[password]" placeholder="{{ section.settings.password_placeholder }}" />
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            {{ section.settings.signin_button_text }}
          </button>
          <a href="{{ routes.account_register_url }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
            {{ section.settings.register_link_text }}
          </a>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer Account Main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "My Account"
    },
    {
      "type": "text",
      "id": "email_label",
      "label": "Email Label",
      "default": "Email"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Email"
    },
    {
      "type": "text",
      "id": "password_label",
      "label": "Password Label",
      "default": "Password"
    },
    {
      "type": "text",
      "id": "password_placeholder",
      "label": "Password Placeholder",
      "default": "******************"
    },
    {
      "type": "text",
      "id": "signin_button_text",
      "label": "Sign In Button Text",
      "default": "Sign In"
    },
    {
      "type": "text",
      "id": "register_link_text",
      "label": "Register Link Text",
      "default": "Register"
    }
  ]
}
{% endschema %}
